:root {
  --text-color: white;
  --alt-text-color: #0e0220;
  --primary-color: #48e0e4; /*#357b70;*/
  --secondary-color: #e0b354;
  --font-weight-body: 400;
  --font-size-body: 18px;
  --color-visited: #e40475;
  --color-active: #489c79;
  /*--color-sun-start: #edc655;
  --color-sun-finish: #f76414;*/
  --background-color-grid: black;
  --font-family-1: "Times New Roman", sans-serif;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {

}

body {
  background: url(../img/nyc.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: var(--font-size-body);
  line-height: 1.6;
  text-align: center;
  color: var(--text-color)
}

main {
  flex: 1;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover, a:focus {
  /*lets the mouse appear as a hand when hovering over button*/
  cursor: pointer;
  /*changes opacity of pointer to 80% when hovering over button*/
  opacity: 0.8;
}

.cosmic {
  display: block;
  width:50px;
  height: 50px;
  background-color: #1f8999;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--alt-text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
  margin-top: 10px;
}

.button:hover,
.button:focus {
  /*lets the mouse appear as a hand when hovering over button*/
  cursor: pointer;
  /*changes opacity of pointer to 80% when hovering over button*/
  opacity: 0.8;
}

.logo {
  width: auto;
  height: 50px;
}

.profile {
  max-width: 600px;
  margin-top: 50px;
  margin-left: 700px;
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 100px;
}

.navigation-list {
  list-style-type: none;
  /*margin-right: 40px;*/
}

 .navigation-list li {
   display:inline-block;
   margin-left: 25px;
 }

 .navigation-list__item {
   text-decoration: none;
   transition-duration: 0.5s;
   transition-property: opacity;
 }

 .page-footer {
   color: white;
   margin-right: 400px;
 }

 .page-footer__icon-list {
   display: flex;
   width: 100%;
   padding: 0 20px;
   justify-content: center;
   list-style-type: none;
   height: 49px;
 }

 .page-footer__icon-list li {
   display: inline-block;
   margin:0 10px;
   background-color: white;
   border-radius: 50%;
 }

 .page-footer__item:hover, .page-footer__item:focus {
   cursor: pointer;
   opacity: 0.8;
 }

 .about-me {
   margin-left: 500px;
   text-align: center;
 }

 .about-list {
   list-style-type: none;
   padding: 0;
 }

 .grid {
   width: 60%;
   margin: 0 auto;
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
 }

 .grid__item {
   border-radius: 25%;
   background-color: var(--background-color-grid);
   opacity: .75;
 }

 /*@keyframes color-change {
   from {
     fill: var(--color-sun-start);
   }
   to {
     fill: var(--color-sun-finish);
   }
 }

 .sun {
   animation: 4s color-change infinite alternate linear;
 }

 @keyframes cloud-move {
   from {
     transform: translate(0, 50px);
   }
   to {
     transform: translate(200px, 50px);
   }
 }

 @keyframes cloud-move-reverse {
   from {
     transform: translate(446px, 48px);
   }
   to {
     transform: translate(100px, 48px)
   }
 }

 .cloud-front {
   animation: 30s cloud-move infinite alternate linear;
 }

 .cloud-back {
   animation: 34s cloud-move-reverse infinite alternate linear;
 }*/

@media all and (max-width: 900px) {
  .grid {
    grid-gap: 10px;
    width: 100%;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
  .profile__portrait {
    float: none;
    width: 100px;
    margin: auto;
    justify-content: center;
    border-radius: 50%;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width:900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/*shooting star animation begin*/
@keyframes starAnimation
{
    from {
        left: -100px;
        top: -10px;
    }
    to {
        left: calc( 100% + 100px);
    }
}

.star{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:starAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.star::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
}
.star-1{
  animation-duration:7s;
  top:40%;
}
.star-2{
  animation-duration:5s;
  top:45%;
}
.star-3{
  animation-duration:8s;
  top:50%;
}

.star-4{
  animation-duration:4s;
  top:55%;
}

.star-5{
  animation-duration:10s;
  top:60%;
}

.star-6{
  animation-duration:13s;
  top:65%;
}

.star-7{
  animation-duration:2s;
  top:70%;
}

.star-8{
  animation-duration:8s;
  top:75%;
}
/*shooting star animation end*/
